################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvancedWebApiDotnet/.vs/AdvancedWebApiDotnet.slnx
/AdvancedWebApiDotnet/obj
