################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvancedWebApiDotnet/.vs/AdvancedWebApiDotnet.slnx
/AdvancedWebApiDotnet/obj
/.vs
/AdvancedWebApiDotnet/.vs/AdvancedWebApiDotnet/CopilotIndices/18.8.1096.64007
/AdvancedWebApiDotnet/bin/Debug/net10.0
/AdvancedWebApiDotnet.Domain/obj
/AdvancedWebApiDotnet.Infra/bin
/AdvancedWebApiDotnet.Infra/obj
/AdvancedWebApiDotnet.Domain/bin
